extends base

block content
    section#home.min-h-screen.flex.flex-col.justify-around.py-8.px-0.bg-left(class="md:flex-row md:px-7/100 md:items-center") 
        .left-container.max-w-lg(class="md:mr-4") 
            p.uppercase.text-gray-400 What is tokenization?
            h3.my-4.text-2xl.capitalize.font-semibold.text-white(class="md:text-4xl") the future of cyber security is here
            .info-container.mt-8.ml-6.border-l.border-solid.border-gray
                p.text-md.font-thin.pl-8.py-2 Digital transactions don't have to introduce risk, cost, and complexity. With TokenEx, you can reduce PCI scope, increase authorization rotes, and lower interchange fees to make your payments more profitable. 
                .buttons-container.flex.flex-wrap.text-sm.uppercase.ml-8.mt-8
                    a.px-8.py-2.bg-amber(href="#") See More
                    a.mt-4.px-8.py-2.bg-transparent.border-2.border-solid.border-white(class="lg:mt-0" href="#") Download Resources
        .right-container.max-w-lg.ml-4.items-center 
            #globe.w-100.relative(class="lg:w-135 xl:w-160")
                img#nueral-img(src="/img/nueral.svg" alt="")
                .circle.absolute.w-full.h-full.top-0
                    img(src="https://media.tenor.com/clfWf5MC92gAAAAd/spiral-moving.gif" alt="")
            
    
    section#platform.w-screen.py-8.px-0.bg-left(class="md:items-center")
        .title.mb-8.ml-8 
            h1.text-2xl.font-md.capitalize(class="sm:text-4xl") the future of cyber security is here
        
        .features.flex.flex-wrap.space-x-0.space-y-8.text-left.h-full(class="md:space-x-4 md:space-y-0")
            .px-8.flex.flex-col.justify-around.border.h-160(class="md:w-1/3")
                .description
                    h3.text-2xl.mb-8 Secure Data Collection 
                    p TokenEx offers severol methods for collecting and tokenizing sensitive dota. Depending on your use case, you could use a combination of these services to ensure secure and compliant omnichannel acceptance. 
                .image.relative.w-40.h-40.bg-black
                    //- img(src="", alt="")
                    i.bx.bx-badge-check.absolute.top-0.right-0.text-4xl
                a(href="#") Read More > 

            .px-8.flex.flex-col.justify-around.border.h-160(class="md:w-1/3")
                .description
                    h3.text-2xl.mb-8 Secure Data Transmission 
                    p TokenEx offers flexible, customizable methods for transmitting sensitive data to third parties such as partners and payment service providers. Depending on your organization's needs, you could use a combination bockend technologies. 
                .image.relative.w-40.h-40.bg-black
                    //- img(src="", alt="")
                    i.bx.bx-badge-check.absolute.top-0.right-0.text-4xl
                a(href="#") Read More >

            .px-8.flex.flex-col.justify-around.border.h-160(class="md:w-1/3")
                .description
                    h3.text-2xl.mb-8 Other Products & Integrations 
                    p In addition to the services offered natively within the TokenEx platform, we also give our clients access to valuable third-party integrations. 
                .image.relative.w-40.h-40.bg-black
                    //- img(src="", alt="")
                    i.bx.bx-badge-check.absolute.top-0.right-0.text-4xl
                a(href="#") Read More >

    section#resources.w-screen.min-h-screen.relative.flex.flex-col
        div.flex-1.flex.flex-col.justify-around(class="md:flex-row")
           h1.my-4.text-2xl.capitalize.font-thin.text-white(class="md:text-4xl xl:text-6xl") Your data. your business
           p.max-w-xs(class="") Build your ideal customer experience with your desired combination of payment platforms and technologies
        div.flex-1.bg-white
        .box.absolute.z-10.top-60.inset-x-0.mx-4.w-auto.h-72(class="md:mx-auto md:w-220 md:h-135 xl:w-330 h-1/2 overflow-hidden")
            img.object-fill.object-center.w-full.h-full(class="inset-0 w-full h-full object-cover" src="https://media.tenor.com/clfWf5MC92gAAAAd/spiral-moving.gif" alt="")

    
    section#solutions.w-screen.min-h-screen.relative.flex.flex-col.justify-around.items-center.bg-white
        div.heading-container.mb-8.flex.flex-col.justify-around.text-black(class="md:flex-row md:space-x-8")
           h1.my-4.text-2xl.capitalize.font-thin(class="md:text-4xl xl:text-6xl") How our solutions can help you
           p.max-w-xs(class="") Build your ideal customer experience with your desired combination of payment platforms and technologies
        .card-container.mb-16.flex.flex-col.space-y-8(class="md:mb-0 md:space-x-8 md:space-y-0 md:flex-row")
            .card.relative.w-64.h-100.p-4.bg-raisin-black-100.shadow-md(class="hover:rotate-y-180")
                .card-back.absolute.top-0.left-0.right-0.bottom-0.p-8.flex.justify-center.items-center
                    .flex.flex-col.justify-around
                        .description
                            h3 Back Content

                .card-front.absolute.top-0.left-0.right-0.bottom-0.p-8.flex.justify-center.items-center.bg-raisin-black-200
                    .flex.flex-col.justify-around
                        i.bx.bx-check-shield.text-5xl.mb-6
                        .description.mb-8
                            h3.text-2xl.mb-8 Accept 
                            p.text-xs The people,processess, and technology within your organization that interact with or are exposed to payment card information are subject to the PCI DSS
                        h3 Read More >

            .card.relative.w-64.h-100.p-4.bg-raisin-black-100.shadow-md(class="hover:rotate-y-180")
                .card-back.absolute.top-0.left-0.right-0.bottom-0.p-8.flex.justify-center.items-center
                    .flex.flex-col.justify-around
                        .description
                            h3 Back Content

                .card-front.absolute.top-0.left-0.right-0.bottom-0.p-8.flex.justify-center.items-center.bg-raisin-black-200
                    .flex.flex-col.justify-around
                        i.bx.bx-lock.text-5xl.mb-6
                        .description.mb-8
                            h3.text-2xl.mb-8 Secure 
                            p.text-xs With the EU's General Data Protection Regulation (GDPR) and the California Consumer Privacy Act (CCPA) leading the way for regulatory compliance regarding personal data and information privacy standards. 
                        h3 Read More >

            .card.relative.w-64.h-100.p-4.bg-raisin-black-100.shadow-md(class="hover:rotate-y-180")
                .card-back.absolute.top-0.left-0.right-0.bottom-0.p-8.flex.justify-center.items-center
                    .flex.flex-col.justify-around
                        .description
                            h3 Back Content

                .card-front.absolute.top-0.left-0.right-0.bottom-0.p-8.flex.justify-center.items-center.bg-raisin-black-200
                    .flex.flex-col.justify-around
                        i.bx.bxs-bank.text-5xl.mb-6
                        .description.mb-8
                            h3.text-2xl.mb-8 Transact 
                            p.text-xs Formed In 1974, the National Automated Clearing House (NACHA) regulates how automated clearing house (ACH) transactions should be performed and how ACH data should be safeguarded 
                        h3 Read More >

    section#about.w-screen.min-h-screen.relative.flex.flex-col.justify-around.items-center
        .title.mb-8.ml-8 
            h1.text-2xl.font-md.capitalize(class="sm:text-4xl") check out these case studies
    
    section#testimonies.relative.flex.flex-col.px-4.w-screen.min-h-screen.border-t
        div.flex-1.flex.justify-around.my-8
            h1.my-4.text-2xl.capitalize.font-thin.text-white(class="md:text-4xl xl:text-6xl") trusted by global companies
            .button-container.my-4.flex.justify-center.space-x-4
                button#back-button.flex.items-center.justify-center.w-12.h-12.border.border-white.rounded-md(class="hover:bg-gray-100 transition-colors focus:outline-none")
                    i.bx.bx-left-arrow-alt
                button#forward-button.flex.items-center.justify-center.w-12.h-12.border.border-white.rounded-md(class="hover:bg-gray-100 transition-colors focus:outline-none")
                    i.bx.bx-right-arrow-alt
        div.flex-1.bg-white
        .testimony-carousel.flex.justify-between.absolute.z-10.top-80.inset-x-0.mx-auto.space-x-12.h-72.w-80(class="md:w-220 md:h-92 xl:w-330")
            .box.flex.items-center.bg-black
                .img-container.w-80.h-full.bg-white
                    img(src="", alt="")

                .testimony.flex.flex-col.justify-around.py-12.px-20.border-t
                    p.ml-8.my-8.text-white "By controlling our own tokens, it allows us the flexibility to be nimble. We can move to other processors if necessary. We can chase better revenue opportunities." 
                    p.ml-8.text-white Daniel Redhill, Chief Executive Officer
            
            .box.flex.items-end.bg-black.h-72.w-20(class="md:h-92")
                .img-container.w-full.h-10.mx-2.mb-2.bg-white

    section#contact.w-screen.min-h-screen.relative.flex.flex-col.border-t
        .title.mb-8.ml-8 
            h1.text-2xl.font-md.capitalize(class="sm:text-4xl") how to choose a tokenization solution 
            p Make sure you're asking the right questions by reading our free ebook now.
        
        .buttons-container.text-sm.uppercase.ml-8.mt-8
            a.mr-2.px-8.py-2.bg-amber(href="#") Request a Demo
            a.ml-2.px-8.py-2.bg-transparent.border-2.border-solid.border-white(href="#") Contact Us
    